@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px #000;
    border-radius: 20px;
}

.card__title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 14px;
}

.card__subtitle {
    font-size: 18px;
    color: #000;
    margin-bottom: 20px;
}

.card__text {
    font-size: 12px;
}

.card__img {
    margin-bottom: 20px;
}

.card__disclaimer {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.loader {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
}